page-openinghours{
    .even{
        background: whitesmoke;
        color: map-get($colors,primary);
    }
    .odd{
        background:white;
        color: map-get($colors,primary);;
    }
    .label{
        margin:0px !important;
        font-weight: normal;
        font-size:14px!important;
    }
    .header2{
        font-weight: bold;
        background:  map-get($colors,primary);
        color: white;
        padding-top:10px;
        padding-bottom:10px;
    }

    .col{
    text-align: center;
    }
}


