page-ebusiness-registration-step4 {
  .col{
      align-items: center!important;
      text-align: center!important;
  }
  .item-md.item-block .item-inner {
  padding-right: 0px; 
}
.label-a{
    color: white !important;
    margin:0px !important;
}
}